<section id="about" class="section reveal" aria-labelledby="about-heading">
  <h2 class="section__title" id="about-heading">About</h2>
  <div class="section__prose section__card">
    <p>Heylo, I'm Adriteyo !</p>
    <p>I study Computer and Communication Engineering at MIT Manipal, with most of my work revolving around low-level systems, DFIR, and AI.</p>
    <p>I like figuring out how things work and occasionally building things that seemed like a good idea at the time.</p>
    <p>I also used to play CTFs for <a href="https://cryptonitemit.in/" target="_blank" rel="noopener" class="cryptonite-link">Cryptonite <img class="cryptonite-link__mark" src="{{ "assets/img/nite.png" | relURL }}" alt="Cryptonite diamond mark" width="24" height="16" loading="lazy"></a>.</p>
    <p>Outside of computers, football takes up some of my time, along with an unreasonable amount of LARPing in RDR2, Hollow Knight, and Crusader Kings III.</p>
    <p>This is my portfolio and blog, where I share my work, things I'm building, and whatever else I find interesting.</p>
  </div>
</section>
