{{ define "main" }}
{{ partial "sections/hero.html" . }}
{{ partial "model/hollow-knight.html" . }}
{{ partial "sections/about.html" . }}
{{ partial "sections/today.html" . }}
{{ partial "sections/experience.html" . }}
{{ partial "sections/publications.html" . }}
{{ partial "sections/education.html" . }}
{{ partial "sections/skills.html" . }}
{{ partial "sections/achievements.html" . }}
{{ partial "sections/volunteering.html" . }}
{{ partial "sections/projects.html" . }}
{{ partial "sections/opensource.html" . }}
{{ partial "sections/hobbies.html" . }}
{{ partial "sections/blog-teaser.html" . }}
{{ partial "sections/contact.html" . }}
{{ end }}
